@font-face {
    font-family: 'Adobe Clean';
    src: url('AdobeClean-BoldIt.woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Adobe Clean SemiCondensed';
    src: url('AdobeClean-BoldSemiCnIt.woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Adobe Clean';
    src: url('AdobeClean-It.woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Adobe Clean';
    src: url('AdobeClean-Regular.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Adobe Clean';
    src: url('AdobeClean-Bold.woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Adobe Clean';
    src: url('AdobeClean-Light.woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Adobe Clean SemiCondensed';
    src: url('AdobeClean-SemiCnIt.woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Adobe Clean SemiCondensed';
    src: url('AdobeClean-SemiCn.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Adobe Clean';
    src: url('AdobeClean-LightIt.woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Adobe Clean SemiCondensed';
    src: url('AdobeClean-BoldSemiCn.woff');
    font-weight: bold;
    font-style: normal;
}
